body {
    font-family: 'Times New Roman';
}


h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background-color: #f8e78f;
    padding: 20px;
    margin: auto;
    width: 500px;
}

.icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    margin-left: 34px;
    text-align: center;
}

.icon i {
    line-height: 100px;
}



.twitter { 
    background-color: black; 
}
.facebook {
        background-color: white; color: #0866FF; 
    }
.instagram { 
    background: linear-gradient(to bottom right, #FF9C02, #FF0C52, #FC01CF); 
}
